<template>
  <div id="app">
    <header>
      <h1>Quelle est la météo aujourd'hui ?</h1>
    </header>

    <main>
      <h2>Choississez votre ville :</h2>
      <section class="search-box">
        <!--Le :value de l'input va permettre de modifier la valeur du query contenu dans l'objet data. Cela va permettre de changer les paramètres de la requêtes-->
        <!--Le @:keyup appel la fonction showAutoCompletion lorsque l'on commence à écrire un texte-->
        <!--Le v-on:click va attribuer la valeur de query au clic de la souris sur une des propositions-->
        <input 
          type="text" 
          class="search-bar" 
          placeholder="Recherche...."
          :value="query"
          @input="evt=>query=evt.target.value"
          @keyup="showAutoCompletion()"
          v-on:click="query=''"
        >

        <div class="autocompletion">
          <a v-for="(city, i) in autoComplete" v-bind:key="i" v-on:click="getCity(city)" v-show="toggle">{{ city }}</a>
        </div>
      </section>

      <!--Affichage de la section uniquement si l'objet weather est défini-->
      <section class="weather-wrap" v-if="typeof weather.main != 'undefined'">
        <article class="location-box">
          <div class="location">
            <font-awesome-icon :icon="['fas', 'map-marker']" /> {{ weather.name }}, {{ weather.sys.country }}
          </div>

          <div class="date">
            <font-awesome-icon :icon="['fas', 'clock']" /> {{ dateBuilder() }}
          </div>
        </article>

        <article class="weather-box">
          <div class="temparature">
            <h3><font-awesome-icon :icon="['fas', 'thermometer-half']" /> Température :</h3>
            <div class="temp">
              De l'air : {{ Math.round(weather.main.temp) }} °C
            </div>
            <div class="temp-feels">
              Ressentie : {{ Math.round(weather.main.feels_like) }} °C
            </div>
          </div>
          
          <div class="result">
            <div class="weather">
              {{ weather.weather[0].description }}
            </div>

            <div class="atmo">
              <div class="humidity">
              <font-awesome-icon :icon="['fas', 'tint']" /> Humidité : {{ weather.main.humidity }} %
              </div>

              <div class="pressure">
                <font-awesome-icon :icon="['fas', 'tachometer-alt']" /> Pression atm. : {{ weather.main.pressure }} hPa
              </div>
            </div>

            <div class="conditions">
              <div class="wind">
                <font-awesome-icon :icon="['fas', 'wind']" /> Vitesse du vent: {{ weather.wind.speed }} m/s
              </div>

              <div class="cloud">
                <font-awesome-icon :icon="['fas', 'cloud']" /> Densité nuageuse : {{ weather.clouds.all }} %
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
  </div>
</template>

<script>
  import {city} from './city'

  export default {
    name: 'App',
    data () {
      return {
        //Indication de la clé API de OpenWeather
        api_key: "Your API KEY",
        //URL de base de la requête
        url_base: 'https://api.openweathermap.org/data/2.5/',
        //Donnée qui contiendra le contenu de la requête
        query: '',
        //Tableau qui contiendra toutes les autosuggestions proposées
        autoComplete: [],
        //Variable permettant de faire apparaitre les diverses autosuggestions
        toggle: false,
        //Variable qui contient les données du fichier city
        city: city,
        //Objet qui contiendra toutes les informations a afficher
        weather: {}
      }
    },
    methods: {
      //Fonction permettant d'afficher les autosuggestions sous la barre de recherche
      showAutoCompletion() {
        //Création de la variable query
        let query = this.query;
        //On remplace les caractères spéciaux (accents et ç) par des caractères normaux
        query = this.query.replace('é', 'e').replace('è', 'e').replace('ç', 'c').replace('à', 'a');
        //On definit un tableau vide à la data autoComplete
        this.autoComplete = [];
        //Condition qui permet de vérifier que query contient bien une information et que la chaîne de caractère contient plus d'un caractère
        if(this.query.length > 1) {
          //On passe la data toggle à true (permet d'afficher la liste des choix)
          this.toggle = true;
          //Création d'une boucle permettant de parcourir le tableau de la data city (qui contient la liste des villes dans le fichier city.js)
          for(let i = 0; i < this.city.length; i++) {
            //On vérifie que la valeur de la data selectionné existe dans le tableau contenant city
            if(this.city[i].val.indexOf(query.toLowerCase()) != -1) {
              //On met à jour du tableau autoComplete avec les noms contenus dans le tableau city
              this.autoComplete.push(this.city[i].name + ", " + this.city[i].country);
            }
          }
        }
      },

      //Fonction permettant de récupérer le texte en fonction de la recherhce
      getCity(city) {
        //On attribut le choix de la ville à query
        this.query = city;
        //On n'affiche plus les suggestions en remplaçant la valeur la variable toggle par false
        this.toggle = false;
        //Appel de la fonction fetchWeather qui va permettre d'afficher les prévisions météo de la ville séléctionnée
        this.fetchWeather(this.query);
      },

      //Fonction permettant de récupérer les informations de l'API OpenWeather
      fetchWeather(query) {
        //${this.url_base} correspond à l'url de base de la requête, ${query} correspond à la recherche que l'on souhaite effectuée, units=metric affiche les températures en °C et ${this.api_key} correpond à notre clé API
        fetch(`${this.url_base}weather?q=${query}&lang=fr&units=metric&APPID=${this.api_key}`)
          .then(res => {
          //Renvoi du résultat de la requête sous format JSON
          return res.json();
          }).then(this.setResults);
      },

      //Fonction permettant de récupérer les résultats de la fonction fetchWeather et de les enregistrées dans l'objet weather
      setResults(results) {
        this.weather = results;
      },

      //Fonction permettant de retouné la date actuelle
      dateBuilder() {
        let d = new Date();
        let localeDate = d.toLocaleString('fr-FR', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric'
        });
        //Renvoie de la date formatée en français
        return localeDate;
      }
    }
  }
</script>

<style>
/* Style Généraux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  background-image: url("../src/assets/ciel nocturne.jpg");
  background-size: cover;
}
#app header {
  text-align: center;
  color: white;
  padding: 20px;
}
#app main {
  min-height: 100vh;
  padding: 10px 25px;
}

/* Version Téléphone */
#app header {
  font-size: 25px;
}
#app main h2 {
  font-size: 25px;
  color: white;
  margin: 20px 0;
}
#app .search-box {
  width: 100%;
  margin-bottom: 30px;
}
#app .search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
#app .search-box .search-bar::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
#app .search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
#app .search-box .autocompletion {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 1;
  outline: none;
  width: 86%;
  left: 6%;
  border-radius: 20px;
}
#app .search-box .autocompletion a {
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
}
#app .location-box .location {
  color: white;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin: 15px 0;
}
#app .location-box .date {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
#app .location-box svg {
  margin-right: 10px;
}
#app .weather-box {
  text-align: center;
}
#app .weather-box .temparature {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 35px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  margin: 30px 0;
  text-shadow: 5px 8px rgba(0, 0, 0, 0.3);
}
#app .weather-box .temparature svg {
  margin: 0;
}
#app .weather-box .temparature .temp, #app .weather-box .temparature .temp-feels {
  margin: 10px 0;
}
#app .weather-box .result {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
#app .weather-box .weather {
  font-size: 40px;
  width: 100%;
}
#app .weather-box .conditions, #app .weather-box .atmo {
  font-size: 25px;
  width: 98%;
  margin: 1%;
}
#app .weather-box .weather, #app .weather-box .humidity, #app .weather-box .wind, #app .weather-box .cloud, #app .weather-box .pressure {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-style: italic;
  margin: 15px 0;
}
#app .weather-box svg {
  font-size: 30px;
  margin-right: 20px;
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  #app header {
    font-size: 35px;
  }
  #app main h2 {
    font-size: 30px;
  }
  #app .search-box .autocompletion {
    width: 94%;
    left: 3%;
  }
  #app .location-box .location {
    font-size: 45px;
  }
  #app .location-box .date {
    font-size: 30px;
  }
  #app .weather-box .temparature {
    padding: 30px 60px;
    font-size: 60px;
  }
  #app .weather-box .temparature .temp, #app .weather-box .temparature .temp-feels {
    margin: 20px 0;
  }
  #app .weather-box .result {
    flex-flow: row wrap;
  }
  #app .weather-box .weather {
    font-size: 50px;
  }
  #app .weather-box .conditions, #app .weather-box .atmo {
    font-size: 40px;
  }
}

/* Version Desktop */
@media screen and (min-width: 1024px) {
  #app .search-box .autocompletion {
    width: 95%;
    left: 1%;
  }
  #app .weather-box .conditions, #app .weather-box .atmo {
    width: 48%;
  }
}
</style>